<div class="about_bg">
  <section class="about-fork">
    <div class="container container_about_fork">
      <h2 class="section-title about-fork__title text_center">
        People Are Talking About Fork
      </h2>
      <div class="about-fork__content__wrapper">
        <div class="about-fork__content__box">
          <img
            class="about-fork__icon"
            src="./dist/img/logo1.png"
            alt="just image"
          />
          <span class="about-fork__text text_center"
            >Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
            Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
          </span>
        </div>

        <div class="about-fork__content__box">
          <img
            class="about-fork__icon"
            src="./dist/img/logo2.png"
            alt="just image"
          />
          <span class="about-fork__text text_center"
            >Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum,
            rhoncus molestie neque ac, mollis eleifend nibh.
          </span>
        </div>

        <div class="about-fork__content__box">
          <img
            class="about-fork__icon"
            src="./dist/img/logo3.png"
            alt="just image"
          />
          <span class="about-fork__text text_center"
            >In efficitur in velit et tempus. Duis nec odio dapibus, suscipit
            erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac
            vehicula.
          </span>
        </div>

        <div class="about-fork__content__box">
          <img
            class="about-fork__icon"
            src="./dist/img/logo4.png"
            alt="just image"
          />
          <span class="about-fork__text text_center"
            >Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
            Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
          </span>
        </div>

        <div class="about-fork__content__box">
          <img
            class="about-fork__icon"
            src="./dist/img/logo5.png"
            alt="just image"
          />
          <span class="about-fork__text text_center"
            >Praesent ut eros tristique, malesuada lectus vel, lobortis massa.
            Nulla faucibus lorem id arcu consequat faucibus.
          </span>
        </div>

        <div class="about-fork__content__box">
          <img
            class="about-fork__icon"
            src="./dist/img/logo6.png"
            alt="just image"
          />
          <span class="about-fork__text text_center"
            >Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
            Pellentesque porttitor cursus massa et vestibulum.
          </span>
        </div>
      </div>

      <span class="about-fork__bottom__text text_center"
        >Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris,
        facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu
        libero tincidunt consequat nec elementum orci. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </span>
    </div>
  </section>
</div>
