<article class="github">
  <h3 class="github__header">Revolutionary editor</h3>
  <p class="github__txt">
    Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
    vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
  </p>
  <div class="github__btn-box">
    <div class="github__btn-box__container">
      <!-- Place this tag where you want the button to render. -->
      <a
        class="github-button"
        href="https://github.com/ntkme/github-buttons/subscription"
        data-icon="octicon-eye"
        data-size="large"
        data-show-count="true"
        aria-label="Watch ntkme/github-buttons on GitHub"
        >Watch</a
      >
    </div>
    <div class="github__btn-box__container">
      <!-- Place this tag where you want the button to render. -->
      <a
        class="github-button"
        href="https://github.com/ntkme/github-buttons"
        data-icon="octicon-star"
        data-size="large"
        data-show-count="true"
        aria-label="Star ntkme/github-buttons on GitHub"
        >Star</a
      >
    </div>
    <div class="github__btn-box__container">
      <!-- Place this tag where you want the button to render. -->
      <a
        class="github-button"
        href="https://github.com/ntkme/github-buttons/fork"
        data-icon="octicon-repo-forked"
        data-size="large"
        data-show-count="true"
        aria-label="Fork ntkme/github-buttons on GitHub"
        >Fork</a
      >
    </div>
  </div>
</article>
