<header class="header">
  <div class="container container__header">
    <div class="header-topmenu">
      <div class="header-topmenu__logo">
        <a class="header-topmenu__logo__link" href="#">
          <div class="header-topmenu__logo__icon"></div>
          <span class="header-topmenu__logo__text">forkio</span></a
        >
      </div>

      <button
        class="header-topmenu__button header-topmenu__button_order_last button_header"
      >
        Buy Now
      </button>

      <div class="header-topmenu__burger__wrapper">
        <div class="header-topmenu__burger">
          <span class="header-topmenu__burger__line"></span>
        </div>
      </div>

      <nav class="header-topmenu__nav">
        <ul class="header-topmenu__list">
          <li class="header-topmenu__item">
            <a href="#" class="header-topmenu__link">Overview</a>
          </li>
          <li class="header-topmenu__item">
            <a href="#" class="header-topmenu__link">About Fork</a>
          </li>
          <li class="header-topmenu__item">
            <a href="#" class="header-topmenu__link">Buying Options</a>
          </li>
          <li class="header-topmenu__item">
            <a href="#" class="header-topmenu__link">Support</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-content">
      <h1 class="section-title header-content__title text_center">Fork App</h1>
      <h3 class="header-content__subtitle text_center">
        A Real Gamechanger In The World Of Web-Development
      </h3>
      <span class="header-content__text text_center"
        >v. 2.8 For Mac and Windows</span
      >

      <button
        class="header-content__button header-content__button button_header"
      >
        Download For Free Now
      </button>
      <span class="header-content__text__bottom text_center"
        >Unlimited 30-Days Trial Period</span
      >
    </div>
  </div>
</header>
