<section class="subscription">
  <h3 class="subscription__header">Fork Subscription Pricing</h3>
  <div class="subscription__box">
    <div class="subscription__item">
      <div class="subscription__item_header">Students</div>
      <div class="subscription__info">
        <p class="subscription__info_price-txt">
          <span class="subscription__info_price">$29</span> <br />
          per month
        </p>
        <p class="subscription__info_descrip">Personal License</p>
        <button class="subscription__btn">purchase</button>
      </div>
    </div>

    <div class="subscription__item">
      <div class="subscription__item_header">professional</div>
      <div class="subscription__info">
        <p class="subscription__info_price-txt">
          <span class="subscription__info_price">$59</span> <br />
          per month
        </p>
        <p class="subscription__info_descript">
          Professional License
          <br />
          Email Support
        </p>
        <button class="subscription__btn">purchase</button>
      </div>
    </div>

    <div class="subscription__item active">
      <div class="subscription__item_header">agency</div>
      <div class="subscription__info">
        <p class="subscription__info_price-txt">
          <span class="subscription__info_price">$99</span> <br />
          per month
        </p>
        <p class="subscription__info_descript">
          1-12 Team Members
          <br />
          Phone Support
        </p>
        <button class="subscription__btn">purchase</button>
      </div>
    </div>

    <div class="subscription__item">
      <div class="subscription__item_header">enterprise</div>
      <div class="subscription__info">
        <p class="subscription__info_price-txt">
          <span class="subscription__info_price">$159</span> <br />
          per month
        </p>
        <p class="subscription__info_descript">
          Unlimited Team Members
          <br />
          24/7 Phone Support
        </p>
        <button class="subscription__btn">purchase</button>
      </div>
    </div>
  </div>
</section>
