.github {
  @media screen and (min-width: 768px) {
    @include flexE();
    &__header {
      @include main-font(
        Montserrat,
        convert-em(42),
        700,
        convert-em(42),
        #635c73,
        uppercase
      );
    }
    &__txt {
      @include main-font(
        Lato,
        convert-em(21),
        400,
        convert-em(32),
        #323232,
        none
      );
    }
  }
}

.features {
  @media screen and (min-width: 768px) {
    &__header {
      @include main-font(
        Montserrat,
        convert-em(42),
        700,
        convert-em(44),
        #8d81ac,
        none
      );
    }

    &__item {
      display: flex;

      &_box-txt {
        text-align: left;
        max-width: convert-rem(562);
        margin-left: convert-rem(23);
      }
    }
    &__editor {
      height: convert-rem(519);
      object-position: convert-rem(20) convert-rem(20);
    }
  }
}

.subscription {
  @media screen and (min-width: 768px) {
    &__header {
      margin: 0 auto;
      text-align: center;
      padding-top: convert-rem(79);
      padding-bottom: 0;
    }
    &__box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin: 0 convert-rem(70);
    }
  }
}
