.features {
  @include flexE();
  width: 100%;
  margin: convert-rem(70) auto;
  margin-bottom: convert-rem(20);
  text-align: center;
  overflow: hidden;
  &__header {
    margin: convert-rem(45) convert-rem(20) convert-rem(36);
    @include main-font(
      Montserrat,
      convert-em(32),
      700,
      convert-em(18),
      #8d81ac,
      none
    );
  }
  &__list {
    margin: 0 convert-rem(20);
  }
  &__item {
    margin-bottom: convert-rem(38);

    img {
      margin-bottom: convert-rem(27);
    }
    h4 {
      margin-bottom: convert-rem(14);
      @include main-font(
        Montserrat,
        convert-em(16),
        400,
        convert-em(16),
        #323232,
        none
      );
    }
    &_box-txt {
      max-width: convert-rem(400);
      p {
        @include main-font(
          Lato,
          convert-em(14),
          400,
          convert-em(21),
          #848e97,
          none
        );
      }
    }
  }
  &__editor {
    object-fit: cover;
    object-position: convert-rem(20) convert-rem(50);
    width: 100%;
    height: convert-rem(381);
  }
}
