.github {
  @include flexE();
  max-width: convert-rem(906);
  margin: convert-rem(70) auto convert-rem(22);
  padding: 0 convert-rem(20);
  text-align: center;
  &__header {
    margin-top: convert-rem(45);
    @include main-font(
      Montserrat,
      convert-em(26),
      700,
      convert-em(28),
      #635c73,
      uppercase
    );
  }
  &__txt {
    margin: convert-rem(27) auto convert-rem(36);
    @include main-font(
      Lato,
      convert-em(14),
      400,
      convert-em(20),
      #323232,
      none
    );
  }
  &__btn-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: convert-rem(10);
    }
  }
}
