//RESET STYLES OF CSS
@import "_reset";

//MIXINS & SECTION STYLES

//DMITRY task1 (after MARGEd STYLES)
@import "mixin";
@import "header";
@import "buttons";
@import "variables";
@import "aboutfork";

//ELLIJAH task2
@import "github";
@import "features";
@import "sub-plans";
@import "768p";
@import "1200p";

//MAIN STYLES FROM DIMA
.container {
  min-width: 320px;
  font-size: 16px;

  @media screen and (min-width: 481px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 993px) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

body.lock {
  overflow: hidden;
}

.text_center {
  text-align: center;
}
.section-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}
